<launch>
    <param name="use_sim_time" value="false" />

    <!-- input arguments for ORB-SLAM3 -->
    <arg name="voc_file"    value="$(find orb_slam_3_ros)/Vocabulary/ORBvoc.txt.bin" />
    <arg name="param_file"  value="$(find orb_slam_3_ros)/Examples/Monocular-Inertial/EuRoC.yaml" />

    <node name="orb_slam_3" pkg="orb_slam_3_ros" type="ros_mono_inertial" args="$(arg voc_file) $(arg param_file)" output="screen">
        <!-- change the topics according to the dataset -->
        <remap from="/camera/image_raw"     to="/cam0/image_raw"/>
        <remap from="/imu"                  to="/imu0"/>
    </node>
</launch>